h1{
    color: red;
}

.DE{
    background-color: aqua;

}

.FD{
    background-color: aquamarine;
}

.AD{
    background-color: bisque;
}

.A300{
    background-color: blueviolet;
}

.B200{
    background-color: brown;
}

.I5{
    background-color: blue;
}

.AB{
    font-size: 48px;
}


.ZBT{
    font-size: 48px;
}

.MS{
    font-size: 48px;
}

.AAP{
    font-size: 48px;
}

.Ii5{
    font-size: 48px;
}

.IF{
    font-size: 48px;
}
.carousel-item {
    width: 100%;
    height: 75vh;
}
.page-1 {
    background-color: aqua;
    color: azure;
    font-size: xx-large;
}
.page-2 {
    background-color: blue;
    color: chocolate;
    font-size: xx-large;
}
.page-3 {
    background-color: rgb(220, 20, 53);
    color: rgb(108, 34, 178);
    font-size: xx-large;
}
.page-4{
    background-color: rgb(30, 210, 105);
    color: black;
    font-size: xx-large;
}
.index {
    background-color: rgb(204, 123, 85);
    color: lightpink;
    font-size: xx-large;
}
